
@{
    ViewData["Title"] = "SocialMedia";
}

@*<div class="row mb-3 ml-2">
    <a class="btn btn-secondary" asp-action="Index">Go Back</a>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>Social Media</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Link
                                </th>

                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SocialMedia sm in Model.SocialMedias )
                            {
                                <tr>
                                    <td>
                                        <p>@sm.Link</p>
                                    </td>
                                    <td>
                                        <a class="btn btn-info" asp-action="Update" asp-route-id="@sm.Id">Update</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@sm.Id">Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@

