@model TeacherVM
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Teacher</h4>
                <form class="forms-sample" asp-action="Update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Teacher.Id">
                    <input type="hidden" asp-for="Teacher.TeacherDetails">
                    <input type="hidden" asp-for="TeacherDetails.Id">
                    <input type="hidden" asp-for="TeacherDetails.TeacherId">
                    <input type="hidden" asp-for="TeacherDetails.Teacher">
                    <input type="hidden" asp-for="TeacherDetails.Skills">
                    <input type="hidden" asp-for="TeacherDetails.Skills.Id">
                    <input type="hidden" asp-for="TeacherDetails.Skills.TeacherDetails">
                    <input type="hidden" asp-for="TeacherDetails.Skills.TeacherDetailsId">
                    <input type="hidden" asp-for="TeacherDetails.Skills.TeacherDetails.Id">
                    <div class="form-group">
                        <label asp-for="Teacher.Photo">Photo</label>
                        <input asp-for="Teacher.Photo" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="Teacher.Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.FullName">FullName</label>
                        <input asp-for="Teacher.FullName" class="form-control">
                        <span class="text-danger" asp-validation-for="Teacher.FullName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Teacher.Profession">Profession</label>
                        <textarea asp-for="Teacher.Profession" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Teacher.Profession"></span>
                    </div>
                    <h2>Details</h2>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Description">Description</label>
                        <textarea asp-for="TeacherDetails.Description" id="editor" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Degree">Degree</label>
                        <textarea asp-for="TeacherDetails.Degree" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Degree"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Experience">Experience</label>
                        <textarea asp-for="TeacherDetails.Experience" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Experience"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Hobbies">Hobbies</label>
                        <textarea asp-for="TeacherDetails.Hobbies" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Hobbies"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Faculty">Faculty</label>
                        <textarea asp-for="TeacherDetails.Faculty" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Faculty"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Mail">Mail</label>
                        <textarea asp-for="TeacherDetails.Mail" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.Mail"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.PhoneNumber">Phone Number</label>
                        <textarea asp-for="TeacherDetails.PhoneNumber" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="TeacherDetails.PhoneNumber"></span>
                    </div>
                    <h2>Skills</h2>
                    <div class="form-group">
                        <label asp-for="Skills.Language">Language</label>
                        <textarea asp-for="Skills.Language" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.Language"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills.TeamLeader">Team Leader</label>
                        <textarea asp-for="Skills.TeamLeader" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.TeamLeader"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills.Development">Development</label>
                        <textarea asp-for="Skills.Development" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.Development"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills.Design">Design</label>
                        <textarea asp-for="Skills.Design" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.Design"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills.Innovation">Innovation</label>
                        <textarea asp-for="Skills.Innovation" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.Innovation"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Skills.Communication">Communication</label>
                        <textarea asp-for="Skills.Communication" class="form-control editor"></textarea>
                        <span class="text-danger" asp-validation-for="Skills.Communication"></span>
                    </div>
                    <div class="form-group" id="socials">
                        <label>Select Social</label>
                        <select asp-for="SocialMedia" class="form-control" multiple name="Socials">
                            @foreach (SocialMediaTable item in ViewBag.SocialMedia)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-light" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script
{
    <partial name="_ValidationPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <script src="https://kit.fontawesome.com/a3751cb7b1.js" crossorigin="anonymous"></script>
}
