@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="Course-search-form">
                        <input type="search" id="Course-search-input" placeholder="Search..." name="Search" />
                    </form>
                    <ul class="list-group" id="result"></ul>
                </div>
            </div>
        </div>
        <div class="row" id="Old-Courses">
            @await Component.InvokeAsync("Courses", 9)
        </div>
        <div class="row " id="New-Courses">
        </div>
    </div>
</div>
<!-- Course End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Subscribe", new { page = "Courses" })
        </div>
    </div>
</div>
<!-- Subscribe End -->

@section Script
{
    <script src="~/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        //const searchInput = document.getElementById('search');

        //searchInput.addEventListener('keyup', (event) => {
        //    console.log(event.target.value);
        //})

       

    </script>

}