@model List<Testimonials>

@foreach (Testimonials tstm in Model)
{
    <div class="single-testimonial">
        <div class="testimonial-info">
            <div class="testimonial-img">
                <img src="~/img/testimonial/@tstm.ImageURL" alt="testimonial">
            </div>
            <div class="testimonial-content">
                <p>@tstm.Description</p>
                <h4>@tstm.FullName</h4>
                <h5>@tstm.Position</h5>
            </div>
        </div>
    </div>
}