
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->


<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search blog</h3>
                </div>
                <div class="course-form">
                    <form id="Blog-search-form" action="#">
                        <input type="search"id="Blog-search-input" placeholder="Search..." name="Search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="Old-Blogs">
            @await Component.InvokeAsync("Blog", 9)
        </div>
        <div class="row" id="New-Blogs">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->


<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
           @await Component.InvokeAsync("Subscribe", new { page = "Blog" }) ;
        </div>
    </div>
</div>
<!-- Subscribe End -->
